* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

main img {
  float: right;
}

aside h2 {
  position: absolute;
  top: 50%;
  left: 50%; /* Added the missing colon and value */
  transform: translate(-50%, -50%);
}