nav {
  background-color: #333;
  padding: 1em;
}

nav a {
  color: #fff;
  padding: 1em;
  display: block;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #333;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
  width: 30%;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
