main {
    width: 80%;
    margin: 0 auto;
}

aside {
    width: 30%;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}